*{
    margin:0;
    padding:0;
}
.small{
    background-color: #3b5998;
    position:relative;
    height:15vh;
}
.fb{
    color: white;
    font-size: 42px;
    position: relative;
    left: 13rem;
    top: 1rem;
  
}
.img{
  
        width:662px;
        position:relative;
        justify-content:center;
        background-color:whitesmoke;
        top: 4rem;
        right:-3.2rem;
        height:500px;
      
}
.ram{
    position: relative;
    left: 53rem;
    top: -0.8rem;
    box-sizing: 3px;
    box-sizing: content-box;
    box-sizing: 3rem;
    width: 172px;
    height: 20px;
    font-size:14px;
    border-color:blue;
    border-radius:3px;
}
.shyam{
    position: relative;
    left: 56rem;
    top: -0.8rem;
    box-sizing: 3px;
    box-sizing: content-box;
    box-sizing: 3rem;
    height: 19px;
    width: 172px;
    border-color:blue;
    border-radius: 3px;
    font-size:14px;
  }
    

.pass{
    position: relative;
    left: 79rem;
    top: -2.1rem;
    color:white;
 
}
.user{
    position: relative;
    left: 59rem;
    top: -2.1rem;
    color:white;

}
.forget{
position: relative;
top: -0.9rem;

width: -1px;
left: 79rem;
color: red;
cursor: pointer;
font-size: 17px;
}
.forget:hover{
  color: brown;
}
.btn{
    position:relative;
    top: -3.4rem;
    left: 91rem;
    
    height: 21px;
    width: 3rem;
    cursor: pointer;
}
.btn:hover{
    background-color: brown;
    color:white;
    border-radius:20px;

}

.container{
    display:flex;
    background-color: whitesmoke
    ;
}


.left{
    display:inline;
    background-color:  whitesmoke;
    width: 50%;
    height:100vh;

}
.right{
    display:inline;
    background-color:  whitesmoke;
    width: 50%;
    height:100vh;
}

.bol{
    font-size: 37px;
    position: relative;
    top: 1.1rem;

}
.its{
    position: relative;
    top: 3.1rem;
    left: -18.3rem;
}
.new{
    position: relative;
    left: -28.6rem;
    bottom: -5.5rem;
    width: 11.3rem;
    height: 1.1rem;
    font-size:15px;
  
}
.last{
    position: relative;
    left: 12.4rem;
    bottom: -3.9rem;
    width: 11.4rem;
    height: 1.03rem;
    font-size:15px;
}
.en{
    position: relative;
    top: 6.7rem;
    right: 11.7rem;
    width: 15rem;
    font-size:15px;
  
}
.re{
    position: relative;
    top: 9rem;
    right: 27.2rem;
    font-size:15px;
    width: 15rem;
  
}
.news{
    position: relative;
    bottom: -10rem;
    left: 0.1rem;
    width: 15rem;
    font-size:15px;
}
.bir{
    position: relative;
    bottom: -15.4rem;
    left: -21.6rem;
    width: 7rem;
  }
  .gen{
    
        position: relative;
        top: 18rem;
        left: -29rem;
        font-size: 22px;
  }

  .radio{
 position: relative;
top: 19rem;
font-size: 17px;
  }
  .by{

    position: relative;
    top: 19.5rem;
    font-size: 14.53px;
    left: -1.9rem;
}

.but{
position: relative;
top: 19.7rem;
height:46px;
width:10rem;
border-radius:3px;
border-radius:10px;
background-color:green;
color:whitesmoke;
font-size:14px;
}
.but:hover{
    cursor:pointer;
    background-color: brown;

}